.animate {
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
}

.ui-banner {
    opacity : 1;
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.ui-banner-list {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    display: flex;
    flex-direction: row;
    .item {
        height: 100%;
        flex: 1;
        img {
            width: 100%;
            height: auto;
        }

    }
}

.ui-banner-dot {
    position: absolute;
    bottom: 1.6em;
    width: 100%;
    text-align: center;
    .item {
        margin: .4em .8em;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        border-radius: .7em;
        background-color: rgba(255, 255, 255, .5);
        &.cur {
            background-color: rgba(255, 255, 255, 1);
        }

    }
}