.ui-banner-list {
    -webkit-backface-visibility: hidden;
}

.animate {
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
}

.ui-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    .ui-banner-list {
        position: relative;
        display: flex;
        flex-direction: row;
        .item {
            height: 100%;
            flex: 1;

            img {
                width: 100%;
                height: auto;
            }

        }
    }
    .ui-banner-dot {
        position: absolute;
        bottom: px2rem(16px);
        width: 100%;
        text-align: center;
        .item {
            margin: px2rem(4px) px2rem(8px);
            display: inline-block;
            width: px2rem(14px);
            height: px2rem(14px);
            border-radius: px2rem(7px);
            background-color: rgba(255, 255, 255, .5);
            &.cur {
                background-color: rgba(255, 255, 255, 1);
            }

        }
    }
}
