.ui-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    opacity : 1;
    @include user-select(none);
    -webkit-touch-callout: none;
    touch-action: pan-y;
    -webkit-touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.ui-banner-animate {
    @include transition(transform $transition-time $ease-in-out)
}

.ui-banner-list {
    position: relative;
    -webkit-backface-visibility: hidden;
    @include transform(translateZ(0));
    @include display-flex;
    @include flex-direction(row);
    .ui-banner-list-item {
        height: 100%;
        @include flex(1);
        img {
            width: 100%;
            height: auto;
        }
    }
}

.ui-banner-dot {
    position: absolute;
    bottom: 1.6em;
    width: 100%;
    text-align: center;
    .ui-banner-dot-item {
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        margin: .4em .8em;
        @include radius(100%);
        background-color: rgba(255, 255, 255, .5);
        &.current {
            background-color: rgba(255, 255, 255, 1);
        }
    }
}
