$table-head-background-color: $background-color-base;
.ui-table {
    font-size: $font-size-base;
    color: $text-color;
    overflow: hidden;
    position: relative;
    border-radius: $border-radius-base $border-radius-base 0 0;
    overflow: hidden;
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        text-align: left;
        border-radius: $border-radius-base $border-radius-base 0 0;
        overflow: hidden;
    }
    &-thead > tr > th {
        background: $table-head-background-color;
        font-weight: bold;
        @include transition(background .3s ease);
        text-align: left;
    }

    &-tbody > tr > td {
        border-bottom: 1px solid $border-color-split;
        position: relative;
    }

    &-thead > tr,
    &-tbody > tr {
        @include transition(all .3s ease);
        &:hover {
            background: tint($primary-color, 90%);
        }
    }

    &-thead > tr:hover {
        background: none;
    }

    &-thead > tr > th,
    &-tbody > tr > td {
        padding: 16px 8px;
        word-break: break-all;
    }

    &-tbody > tr.ui-table-row-selected {
        background: #cfe8fb;
    }

}
