.ui-form-item{
    width: 100%;
    margin-bottom: 24px;
    zoom: 1;
    &:after, &:before {
        content: "";
        display: table
    }
}

.ui-form-label{
    float: left;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-right: 12px;
    text-align: right;
    color: $text-color;
}

.ui-form-content{
    line-height: 32px;
    font-size: 12px;
}

.ui-form{
    display: block;
    &.ui-form-position-left, &.ui-form-position-top{
        .ui-form-label{
            text-align: left;
            padding-right: 0;
        }
    }
    &.ui-form-position-top{
        .ui-form-label{
            float: none;
            height: auto;
            line-height: 1.2;
            padding-right: 0;
            padding-bottom: 10px;
        }
    }
}
