%common{
    display: inline-block;
    width: 100%;
    position: relative;
}

.ui-input-swap {
    @extend %common;
    font-size: 0;
    .ui-input{
        @extend %common;
        height: 32px;
        padding: 4px 8px;
        border: 1px solid $border-color-base;
        outline: 0;
        background-image: none;
        line-height: $line-height-base;
        font-size: $font-size-small;
        border-radius: $border-radius-small;
        color: $text-color;
        background-color: $tooltip-color;
        cursor: text;
        transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
        &:hover{
            border-color: $link-hover-color;
        }
        &:focus{
            border-color: $link-hover-color;
            box-shadow: 0 0 0 2px $link-focus-color;
        }
        &[readonly]{
            cursor: auto;
            &:hover, &:focus{
                border-color: $border-color-base;
                box-shadow: none;
            }
        }
        &[disabled]{
            opacity: 1;
            background-color: $disabled-color;
            cursor: $cursor-disabled;
            &:hover, &:focus{
                border-color: $border-color-base;
                box-shadow: none;
            }
        }

    }

    textarea.ui-input{
        max-width: 100%;
        height: auto;
        word-wrap: break-word;
        word-break: break-all;
        overflow: auto;
        //&.ui-input-auto-row{
        //    overflow: hidden;
        //}
    }

    .ui-input-icon{
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        text-align: center;
        color: $subsidiary-color;
        cursor: pointer;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .ui-input-icon + .ui-input{
        padding-right: 32px;
    }

    &.ui-input-text{
        vertical-align: middle;
    }

    &.ui-input-password{
        vertical-align: middle;
    }

    &.ui-input-number{
        vertical-align: middle;
    }

    &.ui-input-textarea{

    }
}


