.ui-loading{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.ui-loading-clip{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: $info-color $info-color transparent;
    background: transparent;
    vertical-align: middle;
    @include radius(100%);
    @include animation(v-clipDelay 0.75s 0s infinite linear);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

