// Kill the scroll on the body
.ui-modal-open {
    overflow: hidden;
}

.ui-modal-open .ui-modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    background-color: $mask-color;
    overflow: hidden;
    outline: 0;
    z-index: $zindex-modal;
}

.ui-modal-dialog {
    position: absolute;
    padding: 10px 30px;
    left: 50%;
    top: 40%;
    @include transform(translate(-50%, -50%));
    background-color: #ffffff;
    background-clip: padding-box;
    @include radius($border-radius-small);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.ui-modal-title {
    width: 100%;
    border-bottom: 1px solid $border-color-split;
    position: relative;
    &-main {
        display: inline-block;
        padding: 14px 0;
        line-height: 21px;
        font-weight: bold;
        font-size: $font-size-lg;
        color: $title-color;
        border-bottom: 2px solid $primary-color;
    }
    &-sub {
        margin-left: 10px;
        font-size: $font-size-base;
        color: $subsidiary-color;
    }
    .ui-icon-close{
        float: right;
        margin-top: 16px;
        width: 14px;
        height: 14px;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: #999;
        outline: 0;
        border: 0;
        cursor: pointer;
        background: transparent;
    }
}


.ui-modal-body {
    position: relative;
    padding: 16px 0;
}
