.ui-select {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    color: $text-color;
    font-size: $font-size-base;
    position: relative;
    line-height: normal;

    &.ui-select-visible {
        .ui-icon-caret-down {
            @include transform(rotate(180deg));
        }
        .ui-select-selection{
            border-color: $link-hover-color;
            box-shadow: 0 0 0 2px $link-focus-color;
        }
    }

    &.ui-select-disabled {
        background-color: $background-color-select-hover;
        .ui-select-selection {
            cursor: not-allowed;
            background-color: $background-color-select-hover;
            &:hover{
                border-color: $border-color-base;
            }
        }
    }

    .ui-select-selection {
        position: relative;
        width: 100%;
        height: 32px;
        border: 1px solid $border-color-base;
        outline: 0;
        line-height: $line-height-base;
        font-size: $font-size-small;
        border-radius: $border-radius-small;
        background-color: $tooltip-color;
        user-select: none;
        cursor: pointer;
        transition: all .2s ease-in-out;
        &:hover{
            border-color: $link-hover-color;
        }
    }

    .ui-icon-caret-down, .ui-icon-close-circle{
        position: absolute;
        right: 8px;
        top: 8px;
        color: $subsidiary-color;
        transition: all .2s ease-in-out;
        z-index: 1;
    }

    .ui-icon-close-circle{
        z-index: 2;
    }

    .ui-select-placeholder, .ui-select-selected-value {
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: $font-size-small;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 8px;
        padding-right: 24px;
    }

    .ui-select-placeholder {
        color: $tip-color;
    }

    .ui-select-selected-value {

    }

    .ui-select-dropdown {
        position: absolute;
        top: 32px;
        width: 100%;
        max-height: 200px;
        margin: 5px 0;
        padding: 5px 0;
        overflow: auto;
        background-color: #fff;
        z-index: $zindex-select;
        border-radius: $border-radius-small;
        box-shadow: $shadow-1-down;
    }

    .ui-select-dropdown-list {
        margin: 0;
    }

    .ui-select-item {
        margin: 0;
        padding: 7px 16px;
        color: $text-color;
        font-size: 12px !important;
        line-height: normal;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;
        clear: both;
        transition: background .2s ease-in-out;
        &:hover {
            background: $disabled-color;
        }
        &.ui-select-item-disabled, &.ui-select-item-disabled:hover {
            color: $tip-color;
            cursor: not-allowed;
        }
        &.ui-select-item-selected, &.ui-select-item-selected:hover {
            color: #fff;
            background: $selected-color;
        }
    }
}
