.ui-toast {
    font-size: $font-size-base;
    position: fixed;
    z-index: $zindex-message;
    left: 50%;
    top: 40%;
    @include transform(translate(-50%, -50%));
    padding: 8px 16px;
    border-radius: $border-radius-small;
    box-shadow: $shadow-2;
    background: $component-background;

    &-success .ui-icon {
        color: $success-color;
    }

    &-error .ui-icon {
        color: $error-color;
    }

    &-warning .ui-icon {
        color: $warning-color;
    }

    &-info .ui-icon,
    &-loading .ui-icon {
        color: $info-color;
    }

    .ui-icon {
        margin-right: 5px;
        font-size: $font-size-lg;
        top: 2px;
        position: relative;
    }
}
