@import "../common/index.scss";

table {
    .close {
        display: inline-block;
        height: 0;
        width: 0;
        border-left: 6px solid #666666;
        border-top: 6px dashed transparent;
        border-bottom: 6px dashed transparent;
        margin-right: 5px;
    }

    .open {
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 6px dashed #666666;
        border-right: 6px solid transparent;
        border-left: 6px dashed transparent;
        margin-right: 2px;
    }

    .tree-level-1 {
        padding-left: 30px !important;
    }

    .tree-level-2 {
        padding-left: 60px !important;
    }

    .tree-level-3 {
        padding-left: 90px !important;
    }

    .tree-level-4 {
        padding-left: 120px !important;
    }
}
