.ui-expand-null {
    margin: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    position: relative;
}

.ui-expand-close {
    @extend .ui-expand-null;
    @extend .ui-icon;
    @extend .ui-icon-caret-right;
    &:before {
        font-size: 12px;
        font-size: 7px \9;
        @include transform(scale(0.8) rotate(0deg));
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
        zoom: 1;
        display: inline-block;
        font-family: 'iconfont';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 4px;
        color: $text-color;
        transition: transform .3s ease;
    }
}

.ui-expand-open {
    @extend .ui-expand-close;
    @extend .ui-icon-caret-down;
}