@import "variables.scss";
@import "reset.scss";
@import "mixin.scss";
@import "common.scss";

.home-panel{
	@extend .view;
	padding: 30px;
	h1{
		font-size: 24px;
	}
	ul{
		padding-left: 10px;
		li{
			line-height: 20px;
		}
	}
}

