@charset "UTF-8";
/*
    颜色值
*/
$orange:					#ff8206;	// 橙色
$blue:						#4b9bff;	// 蓝色
$green:						#17bf4a;	// 绿色
$white:                     #ffffff;	// 白色
$black:                     #000000;	// 黑色
$red:                       #a10000;	// 红色
$grey:						#a8a8a8;	// 灰色
$c3:                        #333333;
$c4:                        #c4c4c4;
$c6:                        #666666;
$c9:                        #999999;
$cc:                        #cccccc;
$ce:                        #eeeeee;
$cde:						#dedede;
$ced:						#ededed;
$c51:						#515151;
$c8b:						#8b8b8b;
$cf6:						#f6f6f6;
$cd0:						#d0d0d0;
$success:                   #14be46;
$warn:                      #ff8206;
$error:                     #ff3c46;

//大背景色
//-----------------------------------------------------
$bgColor: #ffffff;

//内容背景色
//-----------------------------------------------------
$cntColor : #ffffff;

//border颜色
//-----------------------------------------------------
$borderColor: #d7d7d7;
//border灰色
//-----------------------------------------------------
$borderGray: #e4e4e4;
//border获得焦点颜色
//-----------------------------------------------------
$borderColorFocus: #2d96ff;
//border错误颜色
//-----------------------------------------------------
$borderColorError: #ff3c46;
//border通过颜色
//-----------------------------------------------------
$borderColorRight: #14be46;


//文字颜色
//-----------------------------------------------------
$txtColor: $c6;

//提示性文字颜色
$txtTipColor: $cc;

//超链接颜色
//-----------------------------------------------------
$linkColor: #2d96ff;

//文字hover颜色
//-----------------------------------------------------
$txtColorhover: #2d96ff;

//基本大小
$baseSize: 24px;

//上下间隔距离
//-----------------------------------------------------
$baseGap: 15px;

//-----------------------------------------------------
$border : 1px solid $borderColor;

